footer {
    background: url(https://media.istockphoto.com/id/1927795888/es/foto/artificial-intelligence-machine-learning-natural-language-processing-data-technology.jpg?s=2048x2048&w=is&k=20&c=ipsmwPIruFfJojfXnN3E5PFJjgq2VXk4GaSG9XYtjGM=);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    
}
